
<dl>
  <dt>Name:</dt>
  <dd>{{product.title}}</dd>
  
  <dt>Author:</dt>
  <dd>{{product.author}}</dd>
  
  <dt>Price:</dt>
  <dd>{{product.price}}</dd>

  <dt>Rating:</dt>
  <dd>{{product.rating}}</dd>
</dl>

<button>Add to Cart</button>