<form>
  <h2>Login</h2>

  <div class="message">{{ message }}</div>

  <div class="form-group">
    <label>Usename</label>
    <input type="text" class="username" (input)="username = $event.target.value" />
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="password" (input)="password = $event.target.value" />
  </div>

  <input type="button" value="Login" class="login-button" (click)="login()" />
</form>
