<p>products-search works!</p>

<!-- .row+.row>.col*2 -->

<div class="row">
  <app-search-form [query]="queries$ | async" (searchChange)="search($event)"></app-search-form>
</div>

<div class="row">
  <p *ngIf="isLoading$ | async">Please wait... loading ...</p>
  
  <div class="col">
    <p>Found {{(results$ | async)?.length}}</p>
    
    <app-products-list [products]="results$ | async" [selected]="selected" (selectedChange)="select($event)"></app-products-list>
  </div>
  
  <div class="col" *ngIf="selected">
    <app-product-details [product]="selected"></app-product-details>
  </div>
</div>
