<div class="input-group mb-3" [formGroup]="searchForm">
  
  <input type="text" class="form-control" placeholder="" #query formControlName="query"/>

  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="search(query.value)">
      Search
    </button>
  </div>

</div>
