<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Navbar</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item" *ngIf="!(isLoggedIn | async)">
          <a class="nav-link" (click)="login()">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn | async">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse float-right">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="currentUser | async as user">
          <a class="nav-link">Hello {{ user.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
