<p>products-list works!</p>

{{random()}}

<div class="list-group">
  <div
    class="list-group-item product"
    *ngFor="let product of products"
    [class.active]="selected?.id == product.id"
    (click)="select(product)"
  >
    {{ product.title }}
  </div>
</div>
