
<div class="row">
  
  <div class="col">
    <app-products-search></app-products-search>
  </div>

  <div class="col">
    <button (click)="hide = !hide">Toggle</button>
    <app-products-search *ngIf="hide"></app-products-search>
  </div>
  
</div>